[submodule "p0"]
	path = p0
	url = git@github.com:allanbreyes/mlnd-titanic-survival-exploration.git
[submodule "p1"]
	path = p1
	url = git@github.com:allanbreyes/mlnd-boston-housing.git
[submodule "p2"]
	path = p2
	url = git@github.com:allanbreyes/mlnd-student-intervention.git
