{% extends "application.html" %}
{% block content %}
  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title">
        {{ title }}
      </h3>
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        <div class="media">
          <div class="media-left">
            <img class="media-object" width="64" src="{{course.thumbnail_url}}" alt="icon">
          </div>
          <div class="media-body media-middle">
            <ul class="list-unstyled">
              <li><strong class="media-heading">{{course.name}}</strong></li>
              {% for provider in providers %}
                {% if provider.id == course.provider_id %}{{provider.name}}{% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </li>
      <li class="list-group-item clearfix">
        <div class="btn-group pull-right" role="group" aria-label="...">
          <form class="form" id="delete-form" role="form" method="post" action="{{form_action}}">
            <a href="{{url_for('view_course', course_id=course.id)}}"
               class="btn btn-default">Whoa, take me back!</a>
            <input type="submit" class="btn btn-danger"
                   value="Hasta la vista, baby. (Delete it.)"></input>
          </form>
        </div>
      </li>
    </ul>
  </div>
{% endblock %}